html {
  box-sizing: border-box;
  background-color: #242629;
}

.main-site {
  min-height: 100vh;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.nav-bar {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #16161a;
}

.site-name {
  font-size: 3rem;
  cursor: pointer;
  font-weight: 700;
  color: #fffffe;
}

.nav-button {
  font-size: 1.5rem;
  color: #94a1b2;
  border: none;
  border-radius: 0.5rem;
  background-color: #16161a;
  padding: 1rem;
}

.nav-button:hover {
  background-color: #242629;
}
